<!DOCTYPE html>
<html>
<head>
  <title>Flask-TDD | Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <br><br>
    <h1>Flask-TDD</h1>
    <a class="btn btn-info" role="button" href="{{ url_for('search') }}">Search</a>
    <br><br>

      {% if not session.logged_in %}
        <a class="btn btn-success" role="button" href="{{ url_for('login') }}">Log In</a>
      {% else %}
        <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">Log Out</a>
      {% endif %}
      
      <br><br>
    
    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
   
    {% if session.logged_in %}
      <form action="{{ url_for('search') }}" method="post" class="form-group">
        <dl>
          <dt>Search:</dt>
          <dd><input type="text" name="query" class="form-control col-sm-4"></dd>
          <br>
          <dd><input type="submit" class="btn btn-info" value="Search"></dd>
        </dl>
      </form>
    {% endif %}
    
    <br>
    
    <ul class="entries">
      {% for entry in entries %}
        {% if query.lower() in entry.title.lower() or query.lower() in entry.text.lower() %}
          <li class="entry"><h2 id="{{ entry.post_id }}">{{ entry.title }}</h2>{{ entry.text|safe }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <scrpt type="text/javascript" scr="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
